run = "poetry run streamlit run src/agent_web_search/app/ui.py"
modules = ["python-3.13:v3.13"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["poetry run streamlit run src/agent_web_search/app/ui.py"]
deploymentTarget = "cloudrun"

[languages]
python = {"version": "3.13"}
