run = "./scripts/start.sh"
modules = ["python-3.13:v3.13"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["./scripts/start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
